In [276]:
import pandas as pd
import numpy as np

In [277]:
# Loading raw data
data = pd.read_csv('../data/Crime_Data_from_2020_to_Present.csv')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,occ_year,occ_month,occ_date,occ_day
0,211507896,2021-04-11 00:00:00.000000000,2020-11-07 00:00:00.000000000,1970-01-01 08:45:00.000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,7800 BEEMAN AV,34.2124,-118.4092,2020,Nov,7,Sat
1,201516622,2020-10-21 00:00:00.000000000,2020-10-18 00:00:00.000000000,1970-01-01 18:45:00.000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230,ATOLL AV,34.1993,-118.4203,2020,Oct,18,Sun
2,240913563,2024-12-10 00:00:00.000000000,2020-10-30 00:00:00.000000000,1970-01-01 12:40:00.000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,14600 SYLVAN ST,34.1847,-118.4509,2020,Oct,30,Fri
3,210704711,2020-12-24 00:00:00.000000000,2020-12-24 00:00:00.000000000,1970-01-01 13:10:00.000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331,6000 COMEY AV,34.0339,-118.3747,2020,Dec,24,Thu
4,201418201,2020-10-03 00:00:00.000000000,2020-09-29 00:00:00.000000000,1970-01-01 18:30:00.000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420,4700 LA VILLA MARINA,33.9813,-118.4350,2020,Sep,29,Tue

In [278]:
data.describe()

,DR_NO,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,LAT,LON,occ_year,occ_date
count,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06
mean,2.202215e+08,1.069174e+01,1.115633e+03,1.400348e+00,5.001568e+02,2.891706e+01,3.056153e+02,1.185118e+02,4.999119e+02,3.399821e+01,-1.180909e+02,2.021879e+03,1.534594e+01
std,1.319718e+07,6.110255e+00,6.111605e+02,4.899691e-01,2.052731e+02,2.199272e+01,2.193038e+02,1.845896e+02,2.050791e+02,1.610713e+00,5.582386e+00,1.315051e+00,8.950559e+00
min,8.170000e+02,1.000000e+00,1.010000e+02,1.000000e+00,1.100000e+02,-4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.186676e+02,2.020000e+03,1.000000e+00
25%,2.106169e+08,5.000000e+00,5.870000e+02,1.000000e+00,3.310000e+02,0.000000e+00,1.010000e+02,0.000000e+00,3.310000e+02,3.401470e+01,-1.184305e+02,2.021000e+03,7.000000e+00
50%,2.209159e+08,1.100000e+01,1.139000e+03,1.000000e+00,4.420000e+02,3.000000e+01,2.030000e+02,0.000000e+00,4.420000e+02,3.405890e+01,-1.183225e+02,2.022000e+03,1.500000e+01
75%,2.311103e+08,1.600000e+01,1.613000e+03,2.000000e+00,6.260000e+02,4.400000e+01,5.010000e+02,3.070000e+02,6.260000e+02,3.416490e+01,-1.182739e+02,2.023000e+03,2.300000e+01
max,2.521041e+08,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.200000e+02,9.760000e+02,5.160000e+02,9.560000e+02,3.433430e+01,0.000000e+00,2.025000e+03,3.100000e+01

In [279]:
# Use numbers for the representation of the month in 'occ_month' column
data['occ_month'] = pd.to_datetime(data['DATE OCC']).dt.month

# Drop the first seven characters from TIME OCC
data['TIME OCC'] = data['TIME OCC'].astype(str).str[10:16]

In [280]:
# Drop obsolete columns
columns_to_drop = ['LAT', 'LON', 'Crm Cd 1', 'Mocodes', 'LOCATION', 'Date Rptd', 'DATE OCC', 'Rpt Dist No']
data = data.drop(columns=columns_to_drop)

data.head()

,DR_NO,TIME OCC,AREA,AREA NAME,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,occ_year,occ_month,occ_date,occ_day
0,211507896,08:45,15,N Hollywood,2,354,THEFT OF IDENTITY,31,Male,Hispanic/Latin/Mexican,501,SINGLE FAMILY DWELLING,0,Unknown,IC,Invest Cont,2020,11,7,Sat
1,201516622,18:45,15,N Hollywood,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",32,Male,Hispanic/Latin/Mexican,102,SIDEWALK,200,KNIFE WITH BLADE 6INCHES OR LESS,IC,Invest Cont,2020,10,18,Sun
2,240913563,12:40,9,Van Nuys,2,354,THEFT OF IDENTITY,30,Male,White,501,SINGLE FAMILY DWELLING,0,Unknown,IC,Invest Cont,2020,10,30,Fri
3,210704711,13:10,7,Wilshire,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,47,Female,Other Asian,101,STREET,0,Unknown,IC,Invest Cont,2020,12,24,Thu
4,201418201,18:30,14,Pacific,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),63,Male,Hispanic/Latin/Mexican,103,ALLEY,0,Unknown,IC,Invest Cont,2020,9,29,Tue

In [281]:
# Create a separate dataframe that contains the mapping of 'Crm Cd' to 'Crm Cd Desc'
crime_code_mapping = data[['Crm Cd', 'Crm Cd Desc']].drop_duplicates().reset_index(drop=True)
crime_code_mapping.head()

   Crm Cd                                        Crm Cd Desc
0     354                                  THEFT OF IDENTITY
1     230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
2     331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...
3     420    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
4     812  CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...

In [282]:
# Create a separate dataframe that contains the mapping of 'AREA' to 'AREA NAME'
area_mapping = data[['AREA', 'AREA NAME']].drop_duplicates().reset_index(drop=True)
area_mapping.head()

   AREA    AREA NAME
0    15  N Hollywood
1     9     Van Nuys
2     7     Wilshire
3    14      Pacific
4     4   Hollenbeck

In [283]:
# Create a separate dataframe that contains the mapping of 'Premis Cd' to 'Premis Desc'
premis_code_mapping = data[['Premis Cd', 'Premis Desc']].drop_duplicates().reset_index(drop=True)
premis_code_mapping.head()

   Premis Cd                                   Premis Desc
0        501                        SINGLE FAMILY DWELLING
1        102                                      SIDEWALK
2        101                                        STREET
3        103                                         ALLEY
4        502  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)

In [284]:
# Create a separate dataframe that contains the mapping of 'Weapon Used Cd' to 'Weapon Desc'
weapon_code_mapping = data[['Weapon Used Cd', 'Weapon Desc']].drop_duplicates().reset_index(drop=True)
weapon_code_mapping.head()

   Weapon Used Cd                                     Weapon Desc
0               0                                         Unknown
1             200                KNIFE WITH BLADE 6INCHES OR LESS
2             500                     UNKNOWN WEAPON/OTHER WEAPON
3             400  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
4             114                AIR PISTOL/REVOLVER/RIFLE/BB GUN

In [285]:
# Create a separate dataframe that contains the mapping of 'Status' to 'Status Desc'
status_mapping = data[['Status', 'Status Desc']].drop_duplicates().reset_index(drop=True)
status_mapping.head()

  Status   Status Desc
0     IC   Invest Cont
1     AO   Adult Other
2     AA  Adult Arrest
3     JA    Juv Arrest
4     JO     Juv Other

In [286]:
# Drop description columns from the main data
columns_to_drop_desc = ['Crm Cd Desc', 'AREA NAME', 'Premis Desc', 'Weapon Desc', 'Status Desc']
data = data.drop(columns=columns_to_drop_desc)

data.head()

,DR_NO,TIME OCC,AREA,Part 1-2,Crm Cd,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Status,occ_year,occ_month,occ_date,occ_day
0,211507896,08:45,15,2,354,31,Male,Hispanic/Latin/Mexican,501,0,IC,2020,11,7,Sat
1,201516622,18:45,15,1,230,32,Male,Hispanic/Latin/Mexican,102,200,IC,2020,10,18,Sun
2,240913563,12:40,9,2,354,30,Male,White,501,0,IC,2020,10,30,Fri
3,210704711,13:10,7,1,331,47,Female,Other Asian,101,0,IC,2020,12,24,Thu
4,201418201,18:30,14,1,420,63,Male,Hispanic/Latin/Mexican,103,0,IC,2020,9,29,Tue

In [287]:
# What are the entries in the 'Vict Sex' column?
data['Vict Sex'].unique()

array(['Male', 'Female', 'Unknown', 'Transgender/Other'], dtype=object)

In [288]:
# Truncate 'Vict Sex' entries to the first character
data['Vict Sex'] = data['Vict Sex'].astype(str).str[0]

In [289]:
# Save mapping tables to CSV files
crime_code_mapping.to_csv('../data/crime_code_mapping.csv', index=False)
area_mapping.to_csv('../data/area_mapping.csv', index=False)
premis_code_mapping.to_csv('../data/premis_code_mapping.csv', index=False)
weapon_code_mapping.to_csv('../data/weapon_code_mapping.csv', index=False)
status_mapping.to_csv('../data/status_mapping.csv', index=False)

In [290]:
data.head()

,DR_NO,TIME OCC,AREA,Part 1-2,Crm Cd,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Status,occ_year,occ_month,occ_date,occ_day
0,211507896,08:45,15,2,354,31,M,Hispanic/Latin/Mexican,501,0,IC,2020,11,7,Sat
1,201516622,18:45,15,1,230,32,M,Hispanic/Latin/Mexican,102,200,IC,2020,10,18,Sun
2,240913563,12:40,9,2,354,30,M,White,501,0,IC,2020,10,30,Fri
3,210704711,13:10,7,1,331,47,F,Other Asian,101,0,IC,2020,12,24,Thu
4,201418201,18:30,14,1,420,63,M,Hispanic/Latin/Mexican,103,0,IC,2020,9,29,Tue

In [291]:
# Save data to CSV file
data.to_csv('../data/cleaned_crime_data.csv', index=False)