In [25]:
import pandas as pd
import numpy as np

In [26]:
# Loading raw data
data = pd.read_csv('../data/Crime_Data_from_2020_to_Present.csv')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,occ_year,occ_month,occ_date,occ_day
0,211507896,2021-04-11 00:00:00.000000000,2020-11-07 00:00:00.000000000,1970-01-01 08:45:00.000000,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,7800 BEEMAN AV,34.2124,-118.4092,2020,Nov,7,Sat
1,201516622,2020-10-21 00:00:00.000000000,2020-10-18 00:00:00.000000000,1970-01-01 18:45:00.000000,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230,ATOLL AV,34.1993,-118.4203,2020,Oct,18,Sun
2,240913563,2024-12-10 00:00:00.000000000,2020-10-30 00:00:00.000000000,1970-01-01 12:40:00.000000,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,14600 SYLVAN ST,34.1847,-118.4509,2020,Oct,30,Fri
3,210704711,2020-12-24 00:00:00.000000000,2020-12-24 00:00:00.000000000,1970-01-01 13:10:00.000000,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331,6000 COMEY AV,34.0339,-118.3747,2020,Dec,24,Thu
4,201418201,2020-10-03 00:00:00.000000000,2020-09-29 00:00:00.000000000,1970-01-01 18:30:00.000000,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420,4700 LA VILLA MARINA,33.9813,-118.4350,2020,Sep,29,Tue

In [27]:
data.describe()

,DR_NO,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,LAT,LON,occ_year,occ_date
count,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06,1.004991e+06
mean,2.202215e+08,1.069174e+01,1.115633e+03,1.400348e+00,5.001568e+02,2.891706e+01,3.056153e+02,1.185118e+02,4.999119e+02,3.399821e+01,-1.180909e+02,2.021879e+03,1.534594e+01
std,1.319718e+07,6.110255e+00,6.111605e+02,4.899691e-01,2.052731e+02,2.199272e+01,2.193038e+02,1.845896e+02,2.050791e+02,1.610713e+00,5.582386e+00,1.315051e+00,8.950559e+00
min,8.170000e+02,1.000000e+00,1.010000e+02,1.000000e+00,1.100000e+02,-4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.186676e+02,2.020000e+03,1.000000e+00
25%,2.106169e+08,5.000000e+00,5.870000e+02,1.000000e+00,3.310000e+02,0.000000e+00,1.010000e+02,0.000000e+00,3.310000e+02,3.401470e+01,-1.184305e+02,2.021000e+03,7.000000e+00
50%,2.209159e+08,1.100000e+01,1.139000e+03,1.000000e+00,4.420000e+02,3.000000e+01,2.030000e+02,0.000000e+00,4.420000e+02,3.405890e+01,-1.183225e+02,2.022000e+03,1.500000e+01
75%,2.311103e+08,1.600000e+01,1.613000e+03,2.000000e+00,6.260000e+02,4.400000e+01,5.010000e+02,3.070000e+02,6.260000e+02,3.416490e+01,-1.182739e+02,2.023000e+03,2.300000e+01
max,2.521041e+08,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.200000e+02,9.760000e+02,5.160000e+02,9.560000e+02,3.433430e+01,0.000000e+00,2.025000e+03,3.100000e+01

In [28]:
# How many different types are there in the 'Crm Cd' column?
data['Crm Cd'].nunique()

140

In [29]:
# Store cleaned data into a new variable
crm_data = data.copy()

# Only keep certain columns
columns_to_keep = ['Crm Cd', 'Crm Cd Desc', 'Part 1-2']
crm_data = crm_data[columns_to_keep]

# Count all rows that are the same and store the counts in a new column 'Count'
crm_data['Count'] = 1
crm_data = crm_data.groupby(['Crm Cd', 'Crm Cd Desc', 'Part 1-2']).count().reset_index()

# Order by 'Count' column in ascending order
crm_data = crm_data.sort_values(by='Count', ascending=True).reset_index(drop=True)

crm_data

,Crm Cd,Crm Cd Desc,Part 1-2,Count
0,453,DRUNK ROLL - ATTEMPT,1,1
1,926,TRAIN WRECKING,1,1
2,906,FIREARMS RESTRAINING ORDER (FIREARMS RO),2,4
3,445,DISHONEST EMPLOYEE ATTEMPTED THEFT,1,4
4,904,FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS ...,2,5
...,...,...,...,...
135,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",2,61092
136,354,THEFT OF IDENTITY,2,62537
137,330,BURGLARY FROM VEHICLE,1,63517
138,624,BATTERY - SIMPLE ASSAULT,2,74839
139,510,VEHICLE - STOLEN,1,115190

In [30]:
# How many different types are there in the 'Crm Cd' column and Part 1-2 is 1?
part_1_2_data = data[data['Part 1-2'] == 1]
part_1_2_data['Crm Cd'].nunique()

54